    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        height: 100vh;
    }

    .background {
        width: 100%;
        height: 100vh;
        background: url(../imagens/fundo.png) no-repeat center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-bottom: 15px;
    }

    .logo img {
        width: 150px;
    }

    .card {
        width: 420px;
        background: white;
        padding: 40px;
        border-radius: 14px;
        box-shadow: 0 0 120px rgba(0, 0, 0, 0.242);
        text-align: center;
    }

    .card h2 {
        color: #c00000;
        font-size: 18px;
        margin-bottom: 25px;
        letter-spacing: 1px;
    }

    .input {
        background: #e6e6e6;
        border-radius: 12px;
        padding: 12px 16px;
        margin-bottom: 14px;
        display: flex;
        align-items: center;
    }

    .input span {
        color: #777;
        font-size: 14px;
        margin-right: 10px;
        min-width: 55px;
    }

    .input input {
        border: none;
        background: transparent;
        outline: none;
        font-size: 15px;
        width: 100%;
    }

    .upload {
        background: #e6e6e6;
        border-radius: 12px;
        padding: 14px 16px;
        margin-bottom: 18px;
        text-align: left;
        font-size: 14px;
        color: #777;
    }

    .card button {
        width: 140px;
        height: 42px;
        background: #d10000;
        border: none;
        border-radius: 6px;
        color: white;
        font-weight: bold;
        margin-top: 10px;
        cursor: pointer;
    }

    .card button:hover {
        background: #bd0000;
    }